
/* Importation de la police "Inter" depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* -------- RESET CSS -------- */
/* Réinitialise le box model pour tous les éléments, 
   et supprime les marges et paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* ------ Flex ------ */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween{
    justify-content: space-between;
    
}

.container{/* ces une classe qui contient */
    max-width: 1000px;
    margin: auto;
    
}

.alignCenter{
    align-items: center;
}
/*###########################################*/

/* HEADER */
.logo{
    width: 200px;
}

.menu{
    width: 30%;
}
/*###############*/
/* MARGIN/PADDING */
.top20{
    margin-top: 20px;
}

.top60{
    margin-top: 60px;
}

.top100{
    margin-top: 100px;
    
}
.ptb64{
    padding-top: 64px;
    padding-bottom: 64px;
}
/*########################*/

/* WIDTH */
.width48{
    width: 48%;
}

.box{
    width: 31%;
    display: inline-block;
}
/* ######################## */


/* Style des liens au survol */
a:hover {
    color: #ffffff;         /* Change en turquoise au survol */
}

/* -------- BOUTONS -------- */
.btn {
    font-family: "Jost", sans-serif;
    display: inline-block;                 
    padding: 26px 31px;                    
    text-decoration: none;                 
    margin: 40px 0; 
    background-color: black;
    color: white;
    border-radius: 18px;                     
}

.btnCall{
    background-color: #e8ccaf;
    border-radius: 60px;
    padding: 8px;
}

.btnFleche{
    background-color: #e8ccaf;
    border-radius: 60px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}
/*############################*/


/* --- TITRE ---*/
h1{
    font-size: 85px;
    width: 75%;
}

h2{
    font-family: "DM Serif Display", serif;
    
}

h3{
    font-family: "DM Serif Display", serif;
    font-size: 26px;
    
    
}


.textCenter{
    text-align: center;
}

p{
    font-family: "Jost", sans-serif;
    font-size: 22px;
}
/*##########################################*/

/* IMAGE */

.imgUser{
    margin-right: 16px;
}

.imgDevis{
    border-radius: 0 326px 0 123px;

}

/* LES 4 IMAGE */

.imgP1{
    border-radius:  0 90px 0 0;
    width: 100%;
}

.imgP2{
    border-radius:  90px 0 0 0;
    width: 100%;
}

.imgP3{
    border-radius: 0 0 90px 0;
    width: 100%;
}

.imgP4{
     border-radius: 0 0 0 90px;
    width: 100%;
}

.imgflèche{
    padding: 30px;
}
/*##################################*/



.Gras{
    font-weight: bold;
}

.carte{
    background-color: white;
    border-radius: 16px;
    padding: 5px;
}
/* BACKGROUNCOLOR */
.bgcS{
    background-color: #F4F0EC;
}

.bgcinput{
    background-color: #000000;
    color: white;
}

.brinput{
    border-radius: 5px;
    padding: 8px 16px;
}
/*###############################*/



/* SECTION HERO */
.hero{
    background-image: url(assets/Banner.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 0 200px;
    padding: 100px;
}






.reseaux a{
    margin-right: 16px;
}